@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-800 antialiased;
  }

  p {
    @apply text-justify;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-poppins);
    @apply text-corporate;
  }

  a {
    @apply transition-colors duration-200;
  }
}
